body{
  background: var(--fundo);
  color: var(--branco);
}

.layout{
  display: grid;
  grid-template-columns: 8% 1fr;
  min-height: 100vh;
}

.barra-lateral{
  display: flex;
  background-color: var(--fundo);
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 60px;
  gap: 22px;
  height: 100vh;
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 0 4px rgba(28, 28, 28, 0.25);
}

.logo{
  width: 65px;
  height: 65px;
}

.lista-atalhos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
}

.menu-lateral {
  height: 100%;
}

.atalhos-topo{
  margin: 15px 0 0 0;
  gap: 50px;
  display: grid;
}

.atalho{
  width: 80px;
  height: 60px;
  display: grid;
  place-items: center left;
  padding-left: 15px;
}

.atalho.ativo{
  background: var(--amarelo);
  border-radius: 20px 0 0 20px;
}

.icone-aside {
  width: 50%;
  height: 50%;
}

.icone{
  width: 30px;
  height: 30px;
}


.conteudo{
  display: flex;
  flex-direction: column;
  padding: 20px 100px 40px 60px;
  overflow-y: scroll;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.topo{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 18px;
}

.titulo-area{
  display: grid;
}

.titulo-pagina{
  font-size: 2.1rem;
  font-weight: 800;
}

.linha-titulo{
  width: 120px;
  height: 3px;
  background: var(--amarelo);
  margin-top: 8px;
  border-radius: 2px;
}

.subtitulo {
    margin-top: 20px;
}

.alerta-sucesso {
    background: var(--fundo);
    border: 2px solid #2ecc71;
    color: #2ecc71;
    width: 50%;
    padding: 14px 20px;
    font-weight: 700;
    border-radius: 10px;
    margin: 40px 0;
    /* text-align: center; */
    box-shadow: 0 10px 20px var(--sombra-passo-escura);
}

.perfil-usuario{
  display: flex;
  align-items: center;
  gap: 20px;
}

.saudacao{
  color: var(--branco);
  opacity: .9;
  font-size: 1.2rem;
}

.avatar{
  width: 60px;
  height: 60px;
}

/* Formulário */
.secao-perfil{
    margin-top: 8%;
}

.form-perfil{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10% 15%;
}

.campo{
    display: grid;
    gap: 10px;
}

.campo label{
    font-weight: 700;
}

input, select{
  width: 100%;
  padding: 16px 18px;
  font-size: 15px;
  color: var(--branco);
  background-color: var(--fundo);
  border: none;
  border-radius: 12px;
  outline: none;
  box-shadow:
  inset 5px 5px 10px rgba(0,0,0,0.25),   /* sombra topo (esquerda) */
  inset -5px -5px 10px rgba(107, 123, 131, 0.25); /* luz base (direita) */
}

input::placeholder{
  color: var(--texto-suave);
}

select {
  background: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
}

select option {
    background-color: var(--fundo);
    border: none;
}

.select-wrapper{
    width: 50%;
    padding-right: 50px;
    border-radius: 12px;
    box-shadow:
    inset 5px 5px 10px rgba(0,0,0,0.25),   /* sombra topo (esquerda) */
    inset -5px -5px 10px rgba(107, 123, 131, 0.25); /* luz base (direita) */
}

/* Ações */
.acoes-form{
  grid-column: 1 / -1 ;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 8px;
}

.btn{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px;
  border-radius: 14px;
  font-weight: 800;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 10px 20px var(--sombra-passo-escura);
  font-size: 1em;
}

.btn-secundario{
  background-color: var(--fundo);
  color: var(--amarelo);
  border: 1px solid var(--amarelo);
}

.btn-secundario:hover{
    background-color: #15273c;
}

.btn-primario{
  background: var(--amarelo);
  color: var(--fundo);
}

.btn-primario:hover{
    background-color: #cba137;
 }

 /* Para o detalhe que aparece ao clicar na foto. */

/* posiciona o dropdown relativo ao grupo do perfil */
.perfil-usuario{
  position: relative;
}

.avatar-botao{
  cursor: pointer;
}

/* caixa escondida */
.detalhe-foto{
  position: absolute;
  right: 0;
  top: 80%;
  background-color: var(--fundo);
  color: var(--branco);
  border-radius: 12px 0 12px 12px;
  padding: 10px 14px;
  box-shadow: 3px 3px 4px var(--sombra-passo-escura);
  transform: translateY(-6px);
  transition: opacity .15s ease, transform .15s ease, visibility .15s ease;
  min-width: 220px;
  display: flex;
  gap: 20px;
}

/* link de ação */
.acao-foto{
  color: var(--amarelo);
  font-weight: 300;
  font-size: 0.95rem;
}


.toggle-foto:not(:checked) ~ .detalhe-foto{
  opacity: 0;
  transform: translateY(-6px);
  visibility: hidden;
}

.toggle-foto:checked ~ .detalhe-foto{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}



/* Responsivo */
@media (max-width: 980px){
  .layout{ 
    grid-template-columns: 84px 1fr; 
  }

  .conteudo{ 
    padding: 24px; 
  }

  .form-perfil{ 
    grid-template-columns: 1fr; 
    max-width: 680px; 
  }

  input, select {
    width: 80%;
  }

  .acoes-form{ 
    flex-direction: column-reverse;
    width: 90%;
    justify-content: flex-start; 
  }

  .saudacao, .subtitulo {
    display: none;
  }

  .select-wrapper {
    padding-right: 0;
    width: 70%;
  }
}


